{{ $item := .item }}

<div class="pub-list-item view-citation">

  <span class="article-metadata li-cite-author">
    {{ partial "page_metadata_authors" $item }}
  </span>
  ({{- $item.Date.Format "2006" -}}).
  <a href="{{ $item.RelPermalink }}">{{ $item.Title }}</a>.
  {{ if $item.Params.publication_short }}
    {{- $item.Params.publication_short | markdownify -}}.
  {{ else if $item.Params.publication }}
    {{- $item.Params.publication | markdownify -}}.
  {{ end }}
  {{ with $item.Params.doi }}
    {{ if hasPrefix . "http" }}
      <a href="{{ . }}" target="_blank" rel="noopener" class="pub-doi">doi:{{ replace (replace . "https://doi.org/" "") "http://doi.org/" "" }}</a>
    {{ else }}
      <a href="https://doi.org/{{ . }}" target="_blank" rel="noopener" class="pub-doi">doi:{{ . }}</a>
    {{ end }}
  {{ end }}

</div>
